@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Regular.ttf") format("truetype"),
    url("../fonts/Gilroy-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Gilroy Bold";
  src: url("../fonts/Gilroy-Bold.ttf") format("truetype"),
    url("../fonts/Gilroy-Bold.woff2") format("woff2");
}

$primary-font: "Gilroy";
$font-bold: "Gilroy Bold";
